.env
__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
dist/
.venv/
.DS_Store

*.deb
*.pth
*.npz
*.igb
*.tar.gz
*.zip
*.h5
*.msh
*.stl

reports/
docker/opencarp/
models/
*_run.log
fenicsx_*.log
*_run.log
fenicsx_*.log
diag_snes*.log
continuation_full*.log
continuation_mpi4.log
